body{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
section{
    position: relative;
    z-index: 99;
}
.header-blog{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-between;
    margin: auto;

}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.right-content{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: -2px;
}

.search{
    display: flex;
    align-items: center;
    max-width: max-content;
    /* min-width: 100px; */
    height: 2.2vw;
    margin-right: 30px;
    cursor: pointer;


}
.search-icon{
    width: 20px;
    height: 20px;
    margin-top: -4.2px;
    margin-right: 0px;
}
.search-word{
    padding: 0 !important;
    min-width: 86px;
    height: 2.2vw;
    margin-left: 10px;
    font-size: 25px;
    font-family: "gilroy-regular", sans-serif;
    font-weight: 600;

}

.music{
    font-size: 25px;
    min-width: 86px;
    height: 2.2vw;
    padding: 0 !important;
    font-family: "gilroy-regular", sans-serif;
    color: #4C32FF;
    font-weight: 600;
}

.category-list ul li{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0px;
}

.category-list ul{
    padding: 0px !important;
}
.category-list{
    margin-top: 20px !important;
    margin-bottom: 67px !important;
}

.top{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
}
.top h1{
    font-size: 70px;
    font-weight: 500;
    font-family: 'Gill Sans';
}
.top a{
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.small-article img{
    width: 300px;
    height: 225px;
    object-fit: cover;  
    transition: 0.6s;  

}

.small-article:hover img{
    transform: scale(1.1);
}
.small-article h3{
    font-size: 16px;
}
.small-article-image{
    height: 217px;
    overflow: hidden;

}
.title-wrap {
    color: black;
    max-width: 220px;
}

.title-wrap p{
    margin: 10px 0px 5px 0px;
}
.title-wrap h3{
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}
.big-article img{
    width: 100%;
    height: 100%;
    transition: 0.6s;
    overflow: hidden;
}

.big-article-a:hover img{
    transform: scale(1.1);
}
.big-article{
    position: relative;
    overflow: hidden;
}
.big-article-info{
    position: absolute;
    max-width: 405px;
    width: 100%;
    top: 35px;
    left: 35px;
    color: white;
    z-index: 3;
    
}
.big-article h3{
    text-transform: math-auto;
    font-weight: 500;
    line-height: 40px;
    font-size: 33px;
    padding-right: 51px;
}
.cat{
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}
/* .excerpt{
    padding-right: 58px;
} */
.big-article .overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    width: 100%;
    height: 100%;
    
}


@media (min-width: 1200px)
{
    .container {
        max-width: 1170px;
    }
}

.popular-article .item{
    position: relative;
    max-height: 545px;
    overflow: hidden;
    margin: 0px 10px;

}


.popular-slider{
    display: block;
}


.item{
    max-width: 575px !important;
}
.details{
    position: absolute;
    max-width: 420px;
    left: 0;
    right: 0;
    margin: 40px auto;
    color: white;
    z-index: 2;

}

.item img{
    width: 100%;
    object-fit: cover;
    transition: 0.6s;
}



.slick-list , .draggable{
    margin-left: -560px !important;
}

.back-half{
    width: 100%;
    height: 572px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;

}

.item:hover img{
    transform: scale(1.1);
}

.details h3{
    text-transform: capitalize;
    line-height: 40px;
    font-size: 33px;
    margin-bottom: 20px;

}



.row h1{
    font-size: 70px;
    font-weight: 500;
    font-family: 'Gill Sans';
    margin: 90px 0px 20px 0px !important;
    text-transform: capitalize;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}


.case-studies .item{
    position: relative;
    min-height: 500px;
    padding: 38px 30px 30px 30px;
    background-color: #F2F2F2 !important;
    color: black !important;
    overflow: hidden;
}

.case-studies .item img{
    transition:0.6s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: 0.3s 
}

.case-studies .item:hover img {
    transform: scale(1.1); /* Scaling the image to 1.1 times on hover */
}

.case-studies  h3{
    font-size: 28px;
}

.case-studies h1{
    margin: 90px 0px 20px 0px !important;
}




/* email ,subscribe section */

.email{
    align-items: center;
}

.email h2{
    font-size: 80px;
    text-align: center;
    margin-top: 120px;
    font-family: 'Gill Sans';
}

.email p {
    max-width: 400px;
    text-align: center;
}

.row{
    justify-content: center;
}

.email span{
    font-size: 17px;
}

.form{
   display: flex;
   justify-content: center;
   width: 100%;
}

input{
    border: none;
    width: 400px;
    /* border-bottom: 1px solid grey; */
    font-size: 25px;
}

input:focus{
    border: none;
    outline: none;
}
input::placeholder{
    font-size: 28px;
    color: black;
}
.form button{
    border: none;
    background-color: transparent;
    font-size: 28px;
    color: black;
}
 
.form hr{
    margin: 5px 0px 10px 0px;
}
/* more article section */

.more-article .item{
    overflow: hidden;
    color: black;
}

.more-article .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;    
}

.for-image{
    overflow: hidden;
    height: 260px;
}

.more-article .cat{
    margin: 30px 0px 10px 0px ;
    max-width: 200px;

}

.more-article h3{
    font-size: 22px;
    max-width: 300px;
    overflow: hidden;
}

.more-article .excerpt{
    max-width: 300px;
    overflow: hidden;
}

.title{
    font-size: 28px;
    margin: 90px 0px 20px 0px;
}

/* big-aritcle image section */

.big-image{
    margin: 90px 0px 30px 0px;
}
/* .big-image .items{
    position: relative;
    width: 100%;
    height: 553px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: black;
} */

.big-image .items{
    position: relative;
    width: 100%;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 30px;
    color: black;
}


.items img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.6s;
}
.big-image .detail{
    max-width: 500px;
    color: white;
    padding-left: 60px;
    margin-bottom: 15px;
    z-index: 1;
}


.items:hover img{
    transform: scale(1.1);
} 

.back-halfs{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

/* more_cats */

.more_cats{
    margin: 70px 0px 90px 0px;
}
.tags{
    margin-bottom: 10px;
}
.tags .cat-items{
    color: black;
    border: 1px solid rgb(187, 187, 187);
    padding: 8px 14px 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    transition: 0.6s;
    margin: 5px;
}

.tops h2{
    margin-bottom: 15px;
    font-size: 30px;
    
}
.cat-title{
    margin: 0px;
    padding: 0px;
}
.cat-title p{
    padding-left: 0px;
    font-size: 13px;
}
.cat-items:hover{
    border-radius: 10px;
}
/* footer */

.foot{
    width: 100%;
    background-color: black;
    height: 400px;
    color: white;
}

.foot .row1600{
    width: 1600px;
    max-width: 94%;
    margin: 0 auto
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
}

.left-content{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mail-wrap{
    display: flex;
    gap: 80px;
    margin-top: 70px;

}

.mail-wrap .footer-email{
    font-size: 20px;
}
.mail-wrap .email{
    font-size: 20px;
    border-bottom: 1px solid grey;  
}
.email a {
    color: white;
}

.pdf-section{
    font-size: 20px;
    color: white;
}
.pdf-download{
    display: inline-block;
}
.pdf-download .line{
    height: 1px;
    width: 100%;
    background-color: grey;
}

.pdf-download a{
    color: white;
}

.other-text{
    font-size: 10px;
    color: grey;
}

/* right-content */

.column-wrapper{
    display: flex;

}
.column1{
    margin-right: 190px;
}
